.App-logo {
  height: 30vmin;
  pointer-events: none;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* center */
  min-height: 100vh;
  background-color: #111111;
  background-image: linear-gradient(32deg, rgba(8, 8, 8, 0.74) 30px,transparent);
  background-size: 60px 60px;
 
}


.App-body {

  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  flex: 1;
  width: 50%;
  
}
.App-body p {
  background-color: antiquewhite;
  margin: 10px 0; /* Add margin to the top and bottom for spacing between p tags */
  font-family: 'Arial', sans-serif; /* A more stylish font family */
  font-size: 1.1em; /* Slightly larger font size */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  line-height: 1.5; /* Improve line spacing */
  display: block; /* Ensures the p tag is a block-level element */
  width: 80%; /* Adjust width as needed */
  margin-left: auto; /* Center the p tag horizontally */
  margin-right: auto; /* Center the p tag horizontally */
}


.task-input-header {
  top: 190px; /* Adjust as needed */
  color: #fefbfb; /* Dark color for the header */
  z-index: 10; /* Make sure it's above other elements */
}

.task-input-2 {
  display: flex;
  color: #fefbfb;
  animation: fadeIn 2s ease-in-out;
  
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer {
  background: rgba(0, 0, 0, 0.5); /* Dark but transparent */
  color: white; /* Text color, change as needed */
  text-align: center;
  width: 100%;
  padding: 20px; /* Padding on all sides */
  position: absolute; /* Or 'fixed' if you want the footer to stay in place on scroll */
  left: 0; /* Aligns the footer to the left edge of the parent element */
  right: 0; /* Aligns the footer to the right edge of the parent element */
  bottom: 0; /* Aligns the footer to the bottom of the parent element */
  margin: 0 auto; /* Removes any margin that might push it off-screen */
  width: auto; /* Allows the width to adjust to the content size */
  max-width: calc(100% - 40px); /* Adjusts the width to allow for padding without going off-screen */
}
.App-footer a {
  color: white; 
  text-decoration: none; 
  margin-top: 20px;

}
.task-bar {
  max-width: 600px; /* Limit max width */
  width: 100%; /* Make it responsive */
  margin: 10px auto;
  padding: 15px;
}

.task-bar::placeholder {
  color: #fdf8f8;      /* Light grey text color */
  opacity: 1;       /* Full opacity */
  font-style: italic; /* Italicize placeholder text */
  /* Add other styles as needed */
}
.App-header {
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure it stays on top of other content */
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: rgba(238, 238, 238, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* This ensures the items are laid out horizontally */

  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  /* Remove any specific positioning if present, like top, left, etc., unless it's part of the design */
}


/* for all social containers*/
.socialContainer {
  width: 50px;
  height: 50px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  width: 300px;
  height: 320px;
  background-color: #343541;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
  height: 40px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar a {
  color: #6B6C7B;
  white-space: nowrap;
  margin-left: 10px;
  user-select: none;
}

.close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #6B6C7B;
  border-radius: 30px;
}

.line.one {
  transform: rotate(45deg)
}

.line.two {
  transform: rotate(135deg)
}

.messages-area {
  background-color: green;
  width: 100%;
  height: 210px;
}

.sender-area {
  background-color: #34354100;
  width: 100%;
  height: 70px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.message {
  width: 100%;
  height: 40px;
}

.message.one,
.message.three,
.message.five {
  background-color: #2E2F3A;
}

.message.two,
.message.four,
.message.six {
  background-color: #343541;
}

.send-img {
  width: 30px;
}

.send-input {
  outline: none;
  display: flex;
  border: none;
  background: none;
  height: 40px;
  width: 100%;
  border-radius: 7px;
  background: none;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;

}

.send-input::placeholder {
  color: #ffffff;
}

.input-place {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 10px;
  align-items: center;
  background-color: #000000;
  border-radius: 7px;
  height: 40px;
  width: 800px;
  gap: 5px;
  border: 1px solid #2E2F3A;
}

.send {
  width: 30px;
  height: 30px;
  background-color: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
  
}

.send-icon {
  width: 17px;
 overflow-wrap: normal;
}
@media (max-width: 600px) {
  .input-container {
    padding: 10px 0; /* Less padding on smaller screens */
  }
}

.input-container {
  max-width: 700px;
  color: #ffffff;
  width: 100%;
  margin: 0 auto; /* Centers the container */
  padding: 20px 0; /* Adds space inside the container */
  margin-bottom: 130px;
}
.responsebox{
  background-color: #0073b100;
  justify-content: center;
  margin-right: 40px;

}
@keyframes loader_5191 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.square {
  background: #ddd;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
  margin-top: -25px;
  animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
  animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
  margin-top: 15px;
  animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 600ms infinite;
}



@keyframes square-animation {
  0% {
   left: 0;
   top: 0;
  }
 
  10.5% {
   left: 0;
   top: 0;
  }
 
  12.5% {
   left: 32px;
   top: 0;
  }
 
  23% {
   left: 32px;
   top: 0;
  }
 
  25% {
   left: 64px;
   top: 0;
  }
 
  35.5% {
   left: 64px;
   top: 0;
  }
 
  37.5% {
   left: 64px;
   top: 32px;
  }
 
  48% {
   left: 64px;
   top: 32px;
  }
 
  50% {
   left: 32px;
   top: 32px;
  }
 
  60.5% {
   left: 32px;
   top: 32px;
  }
 
  62.5% {
   left: 32px;
   top: 64px;
  }
 
  73% {
   left: 32px;
   top: 64px;
  }
 
  75% {
   left: 0;
   top: 64px;
  }
 
  85.5% {
   left: 0;
   top: 64px;
  }
 
  87.5% {
   left: 0;
   top: 32px;
  }
 
  98% {
   left: 0;
   top: 32px;
  }
 
  100% {
   left: 0;
   top: 0;
  }
 }
 
 .loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
 }
 
 .loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
 }
 
 .loader-square:nth-of-type(0) {
  animation-delay: 0s;
 }
 
 .loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
 }
 
 .loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
 }
 
 .loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
 }
 
 .loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
 }
 
 .loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
 }
 
 .loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
 }
 
 .loader-square:nth-of-type(7) {
  animation-delay: -10s;
 }
 @keyframes loader_5191 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 480px) {
  .card, .socialContainer {
    flex-direction: column; /* Stack social icons vertically */
  }
}
