
.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 100px;
  top: 0;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  min-height: 100vh; /* This ensures that the .App container covers the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;    /* Center children horizontally */
  width: 100%;
  text-align: center;
  justify-content: center;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  
}
.App-body p{
  background-color: antiquewhite;
}


.task-input-header {
  margin-bottom: 20px;
  color: #fefbfb; /* Dark color for the header */
  animation: fadeIn 2s ease-in-out;
}

.task-input-2 {
  margin-bottom: 20px;
  color: #fefbfb; /* Dark color for the header */
   /* animation: fadeIn 2s ease-in-out 2s;*/           /*delay needs to be fixed */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-footer {
  background: rgba(0, 0, 0, 0.5); /* Dark but transparent */
  color: white; /* Text color, change as needed */
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.App-footer a {
  color: white; 
  text-decoration: none; 
}
.task-bar {
  padding: 20px; 
  padding-left: 500px;
  padding-right: 500px;
  height: auto; 
  margin: 20px auto 20px; 
  background-color: rgb(112, 118, 118); 
  border: none; 
  border-radius: 25px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  display: flex; 
  justify-content: center;
  align-items: center;
  
}
.task-bar::placeholder {
  color: #fdf8f8;      /* Light grey text color */
  opacity: 1;       /* Full opacity */
  font-style: italic; /* Italicize placeholder text */
  /* Add other styles as needed */
}
.App-header {
  position: relative;
}
